<ion-view title="INFO" class="Detail_Assets_INFO">

        <div class="list padding" >

                <div class = "row " ng-if="premiss_info1">
                    <div class = "col col-40 fontsize_default">Asset Category</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name1"></div>
                </div>
                <div class = "row " ng-if="premiss_info2">
                    <div class = "col col-40 fontsize_default">Category Description</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name2"></div>
                </div>
                <div class = "row " ng-if="premiss_info3">
                    <div class = "col col-40 fontsize_default">Asset Account</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name3"></div>
                </div>
                <div class = "row " ng-if="premiss_info4">
                    <div class = "col col-40 fontsize_default">Cost Center Description</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name4"></div>
                </div>
                <div class = "row " ng-if="premiss_info5">
                    <div class = "col col-40 fontsize_default">Location</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name5"></div>
                </div>
                <div class = "row " ng-if="premiss_info6">
                    <div class = "col col-40 fontsize_default">Tag Number</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name6"></div>
                </div>
                <div class = "row " ng-if="premiss_info7">
                    <div class = "col col-40 fontsize_default">Asset Number</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name7"></div>
                </div>
                <div class = "row " ng-if="premiss_info8">
                    <div class = "col col-40 fontsize_default">Major Category</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name8"></div>
                </div>
                <div class = "row " ng-if="premiss_info9">
                    <div class = "col col-40 fontsize_default">Minor Category</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name9"></div>
                </div>
                <div class = "row " ng-if="premiss_info10">
                    <div class = "col col-40 fontsize_default">Name Category</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name10"></div>
                </div>
                <div class = "row " ng-if="premiss_info11">
                    <div class = "col col-40 fontsize_default">Asset Description</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name11"></div>
                </div>
                <div class = "row " ng-if="premiss_info12">
                    <div class = "col col-40 fontsize_default">Units</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name12"></div>
                </div>
                <div class = "row " ng-if="premiss_info13" ng-if="checkmulti_hos">
                    <div class = "col col-40 fontsize_default">Cost</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name13"></div>
                </div>
                <div class = "row " ng-if="premiss_info14">
                    <div class = "col col-40 fontsize_default">Depreciation</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name14"></div>
                </div>
                <div class = "row " ng-if="premiss_info15">
                    <div class = "col col-40 fontsize_default">Depreciation Reserve</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name15"></div>
                </div>
                <div class = "row " ng-if="premiss_info16">
                    <div class = "col col-40 fontsize_default">NBV at Period End</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name16"></div>
                </div>
                <div class = "row " ng-if="premiss_info17">
                    <div class = "col col-40 fontsize_default">Life Year.month</div>
                    <div class = "col nameload item-text-wrap " ng-bind-html="name17"></div>
                </div>
                <div class = "row " ng-if="premiss_info18">
                    <div class = "col col-40 fontsize_default">Date of Acquisition</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name18"></div>
                </div>
                <div class = "row " ng-if="premiss_info19">
                    <div class = "col col-40 fontsize_default">Asset Cost Acct</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name19"></div>
                </div>
                <div class = "row " ng-if="premiss_info20">
                    <div class = "col col-40 fontsize_default">Accum Deprn Acct</div>
                    <div class = "col nameload item-text-wrap " ng-bind-html="name20"></div>
                </div>
                <div class = "row " ng-if="premiss_info21">
                    <div class = "col col-40 fontsize_default">Account Description</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name21"></div>
                </div>
                <div class = "row " ng-if="premiss_info22">
                    <div class = "col col-40 fontsize_default">Employee Name</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name22"></div>
                </div>
                <div class = "row " ng-if="premiss_info23">
                    <div class = "col col-40 fontsize_default">Serial Number</div>
                    <div class = "col nameload item-text-wrap " ng-bind-html="name23"></div>
                </div>
                <div class = "row " ng-if="premiss_info24">
                    <div class = "col col-40 fontsize_default">IT Serial No</div>
                    <div class = "col nameload item-text-wrap " ng-bind-html="name24"></div>
                </div>
                <div class = "row " ng-if="premiss_info25">
                    <div class = "col col-40 fontsize_default">Category IT</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name25"></div>
                </div>
                <div class = "row " ng-if="premiss_info26">
                    <div class = "col col-40 fontsize_default">Sub Category IT</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name26"></div>
                </div>
                <div class = "row " ng-if="premiss_info27">
                    <div class = "col col-40 fontsize_default">Brand</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name27"></div>
                </div>
                <div class = "row " ng-if="premiss_info28">
                    <div class = "col col-40 fontsize_default">Model</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name28"></div>
                </div>
                <div class = "row " ng-if="premiss_info29">
                    <div class = "col col-40 fontsize_default">Specification</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name29"></div>
                </div>
                <div class = "row " ng-if="premiss_info30">
                    <div class = "col col-40 fontsize_default">Ethernet Mac</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name30"></div>
                </div>
                <div class = "row " ng-if="premiss_info31">
                    <div class = "col col-40 fontsize_default">Wireless Mac</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name31"></div>
                </div>
                <div class = "row " ng-if="premiss_info32">
                    <div class = "col col-40 fontsize_default">Site</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name32"></div>
                </div>
                <div class = "row " ng-if="checkmulti_hos">
                    <div class = "col col-40 fontsize_default">Hospital</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name48"></div>
                </div>
                <div class = "row " ng-if="premiss_info33">
                    <div class = "col col-40 fontsize_default">Building</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name33"></div>
                </div>
                <div class = "row " ng-if="premiss_info34">
                    <div class = "col col-40 fontsize_default">Floor</div>
                    <div class = "col nameload item-text-wrap " ng-bind-html="name34"></div>
                </div>
                <div class = "row " ng-if="premiss_info35">
                    <div class = "col col-40 fontsize_default">Department</div>
                    <div class = "col nameload item-text-wrap " ng-bind-html="name35"></div>
                </div>
                <div class = "row " ng-if="premiss_info36">
                    <div class = "col col-40 fontsize_default">Computer Name</div>
                    <div class = "col nameload item-text-wrap " ng-bind-html="name36"></div>
                </div>
                <div class = "row " ng-if="premiss_info37">
                    <div class = "col col-40 fontsize_default">Recive Date</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name37"></div>
                </div>
                <div class = "row " ng-if="premiss_info38">
                    <div class = "col col-40 fontsize_default">Date of purchase</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name38"></div>
                </div>
                <div class = "row " ng-if="premiss_info39">
                    <div class = "col col-40 fontsize_default">Install Date</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name39"></div>
                </div>
                <div class = "row " ng-if="premiss_info40">
                    <div class = "col col-40 fontsize_default">Warranty Date</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name40"></div>
                </div>
                <div class = "row " ng-if="premiss_info41">
                    <div class = "col col-40 fontsize_default">Warranty Expire</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name41"></div>
                </div>
                <div class = "row " ng-if="premiss_info42">
                    <div class = "col col-40 fontsize_default">Vender</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name42"></div>
                </div>
                <div class = "row " ng-if="premiss_info43">
                    <div class = "col col-40 fontsize_default">Contact Vender</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name43"></div>
                </div>
                <div class = "row " ng-if="premiss_info44">
                    <div class = "col col-40 fontsize_default">invoice number</div>
                    <div class = "col nameload item-text-wrap" ng-bind-html="name44"></div>
                </div>
                <div class = "row " ng-if="premiss_info45">
                    <div class = "col col-40 fontsize_default">Rent</div>
                    <div class = "col nameload item-text-wrap " ng-bind-html="name45"></div>
                </div>
                <div class = "row " ng-if="premiss_info46">
                    <div class = "col col-40 fontsize_default">Status</div>
                    <div class = "col nameload item-text-wrap " ng-bind-html="name46"></div>
                </div>
                <div class = "row " ng-if="premiss_info47">
                    <div class = "col col-40 fontsize_default">Remark</div>
                    <div class = "col nameload item-text-wrap " ng-bind-html="name47"></div>
                </div>


        </div>

        <div class="list list_detail" >
            <div class="item item-icon-left item-icon-right" ng-click="btn_showAssImg()" ng-disabled="premiss_write_menu11">
                <i class="icon ion-ion-detail1" ></i>
                <p>Assets Location</p>
                <i class="icon ion-chevron-right"></i>
            </div>
            <div class="item item-icon-left item-icon-right" ng-click="btn_showcapex()" ng-disabled="premiss_write_menu12">
                <i class="icon ion-ion-detail2" ></i>
                <p>Capex</p>
                <i class="icon ion-chevron-right"></i>
            </div>
        </div>

        <div class = "row">
            <div class = "col">
                <button class="button button-block btnAssets_detail icon-left ion-edit" ng-click="btn_editAss()" ng-disabled="premiss_write_ass2">EDIT</button>
            </div>
            <div class = "col nameload">
                <button class="button button-block btnAssets_detail icon-left ion-printer" ng-click="btn_print()">PRINT QR CODE</button>
            </div>
        </div>

</ion-view>
