<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>

        <!-- content -->
        <ion-nav-view name="content"></ion-nav-view>


    </ion-side-menu-content>

    <!-- Side Menu (left) -->
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Left</h1>
        </ion-header-bar>
        <header class="bar bar-header bar-stable color_greentitle">
            <h1 class="title"></h1>
        </header>
        <ion-content class="has-header slide_menu">

            <div style="padding:1em 1.5em;">
                <img  class="full-image center_img" ng-src="img/Login_logo_main.png" >
            </div>


            <ion-list>
                <ion-item nav-clear menu-close class="item item-icon-left" href="#/app/Assets_Check" ng-disabled="premiss_write_menu1">
                    <i class="icon ion-menu1"></i>
                    Assets Management
                </ion-item>
                <ion-item nav-clear menu-close class="item item-icon-left" href="#/app/Create_assets" ng-click="btn_check_creass()" ng-disabled="premiss_write_menu2">
                    Create new Assets
                    <i class="icon ion-menu2" ></i>
                </ion-item>
                <ion-item nav-clear menu-close class="item item-icon-left"  href="#/app/Check_Map" ng-disabled="premiss_write_menu3">
                    Check Map
                    <i class="icon ion-menu3"></i>
                </ion-item>
                <ion-item nav-clear menu-close class="item item-icon-left" id="btncreateperform" ng-click="btn_scanqrc()" href="javascript:void(0)" ng-disabled="premiss_write_menu4">
                    QR Code
                    <i class="icon ion-menu4"></i>
                </ion-item>
                <ion-item nav-clear menu-close class="item item-icon-left" href="#/app/Change_Pass" ng-disabled="premiss_write_menu5">
                    Change Password
                    <i class="icon ion-menu5"></i>
                </ion-item>
                <ion-item nav-clear menu-close class="item item-icon-left" href="#/app/Help" ng-disabled="premiss_write_menu6">
                    Help
                    <i class="icon ion-menu6"></i>
                </ion-item>
                <ion-item nav-clear menu-close class="item item-icon-left" ng-click="btn_logout()" href="javascript:void(0)">
                    Log out
                    <i class="icon ion-menu7"></i>
                </ion-item>
                <ion-item nav-clear menu-close  href="javascript:void(0)" style="border-bottom-color:#027864;">
                    <div class="textverion">Version. {{version}}</div>
                </ion-item>
            </ion-list>
        </ion-content>

    </ion-side-menu>
</ion-side-menus>
